<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link type='text/css' rel='stylesheet' href='/css/index.css'>
</head>
<body>
<h1>Add a Comment to a Recipe: </h1>
<form action="/recipes/<%= @recipe_id %>/comments" method="POST">
  <input name="comment" type="text" />
  <input value="Submit Comment" type="submit" />
</form>

</body>
</html>
