<h1>Recipe Book</h1>
<form action="/recipes" method="GET">
<input type='submit' value='View Recipes' />
</form>

<form action="/recipes/add" method="POST">
 <input type="text" name="title" placeholder="Enter a Title" />
 <input type="text" name="url" placeholder='Enter a URL'/>
<input type='submit' value='Add Recipe' />
</form>