
 <h2>
   <%= flash[:notice] %>
 </h2>

<form action= '/sessions' method='post'>
<h3>Please Enter an Email and Password to create an Account:</h3>
  <input type='email' name='email' placeholder='example@example.com'/>
  <input type='password' name='password' placeholder='******'/>
  <input type="submit" value="Sign In" />
</form>