
 <h2>
   <%= flash[:notice] %>
 </h2>

<form action= '/sessions' method='post'>
  <input type='email' name='email' placeholder='example@example.com'/>
  <input type='password' name='password' placeholder='******'/>
  <input type="submit" value="Sign in" />
</form>