<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link type='text/css' rel='stylesheet' href='/css/index.css'>
</head>
<body>
<div class='signin'>
<br>
<form action= '/sessions' method='post'>
<br>
<h1>Please Enter Your <b>Email</b> and <b>Password</b> to Sign In:</h1>
<br>
  <input type='email' name='email' placeholder='example@example.com' required/>
  <input type='password' name='password' placeholder='************' required/>
  <input type="submit" value="Sign In" />
</form>
<br>
<form action="/" method="get">
  <input type="submit" value="Return to Homepage" />
</form>
<br>
<h2>
   <%= flash[:notice]%>
   <br>
   </div>
 </h2> 
</body>
</html>
