
<form action="/users" method="post">
<h3>Please Enter an Email and Password to Create an Account:</h3>
  <input type="email" name="email" placeholder="example@example.com"/>
  <input type="password" name="password" />
  <input type="submit" value="Sign Up" />
</form>

<form action="/" method="get">
  <input type="submit" value="Return to Homepage" />
</form>