<form action="/recipes/<%= @recipe.id %>" method="post">
<input type="hidden" name="_method" value="PATCH" />
 <input type="text" name="title" value= "<%= @recipe.title %>"/>
 <input type="text" name="url" value= "<%= @recipe.url %>"/>
<input type="submit" value="Update" />
</form>

<form action="/recipes" method="get">
  <input type="submit" value="Back" />
</form>