<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link type='text/css' rel='stylesheet' href='/css/index.css'>
</head>
<body>
<div class='update'>
<br>
<h1>Enter new <b>Title</b> and/or <b>link</b>!</h1>
<br>
<form action="/recipes/<%= @recipe.id %>" method="post">
<input type="hidden" name="_method" value="PATCH" />
 <input type="text" name="title" value= "<%= @recipe.title %>"/>
 <input type="text" name="url" value= "<%= @recipe.url %>"/>
<input type="submit" value="Update" />
</form>
<br>
<form action="/recipes" method="get">
  <input type="submit" value="Back" />
</form>
</div>
</body>
</html>
